*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: "Montserrat Regular", sans-serif;
    font-style: normal;
    line-height: 1.65;
    overflow-x: hidden;
}

#M-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

#M-container{
    background-color: white;
    width:50%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

#M-header{
    width: 100%;
    margin: 0px 0px 24px;
}
#M-header>h1{
    color: rgb(18,40,76);
    font-size: 34px;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin: 0px 0px 20px;
}
#M-header>p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: rgb(142,152,169);
}

#M-form>input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 12px 14px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none solid rgb(18,40,76);
    color: rgb(142,152,169);
    resize: vertical;
}
#M-form>input[type="password"]{
    margin-top: 14px;
}
#M-form>input[type="submit"]{
    width: 100%;
    padding: 15px 28px;
    box-sizing: border-box;
    margin: 20px 0px 0px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    cursor: pointer;
    color: rgb(244,245,247);
    background-color: rgb(18,40,76);
}
#M-form>button{
    display: inline-block;
    position: absolute;
    padding: 8px;
    right: 490px;
    top: 256px;
    /* transform: translateY(-50%); */
    font-size: 13px;
    font-weight: 400;
    background-color: white;
    border: none;
}
#M-form>button>a{
    color: #12284C;
}

#M-footer{
    width: 100%;
    margin-top: 24px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
#M-footer>span{
    color: rgb(142,152,169);
}
#M-footer>a{
    text-decoration: underline solid rgb(18,40,76);
    color: rgb(18,40,76);
}


