*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: "Montserrat Regular", sans-serif;
    font-style: normal;
    box-sizing: border-box !important;
}
body{
    font-size: 14px;
    line-height: 1.3em;
    word-wrap: break-word;
    word-break: break-word;
    overflow-x: hidden;
    background: initial;
    color: #545454;
}
#M-content{
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}

#M-container-3{
    width: 90%;
    max-width: calc(1100px + 10%);
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 0 5%;
    margin: 0 auto;
    zoom: 1;
    /* border: 1px solid; */
}

#M-main{
    max-width: calc(574px + 6%);
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    padding: 56px 66px 0px 0px;
    float: left;
    /* border: 1px solid red; */
}

#M-header{
    display: block;
    padding: 0 0 28px;
    float: left;
}
#M-header>a{
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
#M-header>a img{
    max-width: 15.5rem;
    max-height: 4.2857142857em;
    display: inline-block;
    border-style: none;
    vertical-align: top;
    text-align: center;
}
.nav{
    display: flex;
    justify-content: center;
}
.nav a{
    color: #12284C;
}
.nav ol{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
    list-style-position: inside;
    list-style-type: none;
}
.nav li{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #12284C;
}
.fa-solid{
    color: #737373;
    margin: 0 0.6428571429em;
    width: 10px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}

.express{
    display: block;
    margin-top: 1.5em;
}
.express h2{
    color: #333333;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    align-items: flex-end;
    text-align: center;
}
.express h2::before{
    border-right: 0;
    border-top-left-radius: 5px;
    margin-right: 1em;
    content: '';
    border: 1px #e6e6e6 solid;
    border-bottom: 0;
    height: 0.5em;
    -webkit-box-flex: 1;
    flex: 1 0 2em;
}
.express h2::after{
    border-left: 0;
    border-top-right-radius: 5px;
    margin-left: 1em;
    content: '';
    border: 1px #e6e6e6 solid;
    border-bottom: 0;
    height: 0.5em;
    -webkit-box-flex: 1;
    flex: 1 0 2em;
}
.paypal{
    text-align: center;
    border: 1px #e6e6e6 solid;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.9285714286em 1.4285714286em 1.4285714286em;
}
.btn{
    width: 50%;
    margin: auto;
    padding: 12px 28px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(255,196,57);
    border: none;
    border-radius: 5px;
}
.btn img{
    max-width: 15.5rem;
    max-height: 1.5em;
    display: inline-block;
    border-style: none;
    vertical-align: top;
    text-align: center;
    background-color: transparent;
}
.extension{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8571428571em;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    color: #737373;
    margin-top: 2.5em;
}
.extension::before, 
.extension::after{
    content: '';
    display: inline-block;
    height: 1px;
    background-color: #e6e6e6;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.extension span{
    display: inline-block;
    padding: 0 1em;
}

#form{
    display: block;
    padding-bottom: 4em;
    float: left;
}
.cont{
    padding: 6px;
    margin-left: -0.5714285714rem;
    margin-right: -0.5714285714rem;
    margin-bottom: -0.1428571429rem;
    margin-top: -0.1428571429rem;
    display: flex;
    flex-wrap: wrap;
}
.cont h2{
    margin-bottom: 16px;
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 400;
    padding-top: 0.1428571429rem;
    padding-left: 0.5714285714rem;
    padding-bottom: 0.1428571429rem;
    padding-right: 0.5714285714rem;
    color: #12284c;
}

.info{
    zoom: 1;
    display: block;
}
.mail{
    width: 70%;
    position: relative;
    float: left;
    padding: 6px;
}
label{
    margin: 0.52em 0;
    position: absolute;
    text-align: left;
    left: 15px;
    bottom: 8px;
    transition: all 0.2s ease-out;
    user-select: none;
    pointer-events: none;
    color: #12284c;
    font-size: 12px;
    line-height: 19px;
    opacity: 1;
    z-index: 1;
}
input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    max-height: 50px;
    padding: 21px 11px 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    text-align: start;
    border-radius: 5px;
    color: #333333;
    border: 1px solid #12284C;
    cursor: text;
    background-clip: padding-box;
}
input[type="email"],
input[type="text"]:focus{
    box-shadow: rgba(121, 133, 154, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 1px;
}
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label{
    bottom: 22px;
    color: #f7497d;
}

.check{
    width: 100%;
    margin-top:  0.4em;
    padding: 6px;
    position: relative;
    float: left;
    zoom: 1;
}
.check div{
    width: 4%;
    padding-right: 0.75em;
}
input[type=checkbox]{
    width: 18px;
    height: 18px;
    vertical-align: -4px;
    border: 1px solid #12284C;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}
input[type=checkbox]:focus{
    box-shadow: rgba(121, 133, 154, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 1px;
}
.check label{
    width: 80%;
    vertical-align: middle;
    top: 0;
    left: 35px;
    bottom: 0;
    position: absolute;
    font-size: 14px;
    font-weight: 100;
    color: #12284C;
    cursor: pointer;
}

.info2{
    width: 100%;
    padding-top: 2.5em;
    float: left;
}
.info2 h2{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    color: #12284C;
}
.info3{
    width: 100%;
    margin: -6px;
    zoom: 1;
    display: block;
    float: left;
    /* border: 1px solid; */
}
.loca{
    width: 100%;
    padding: 6px;
    position: relative;
    float: left;
}
.loca select{
    width: 100%;
    font-size: 14px;
    padding: 19px 29px 12px 11px;
    line-height: 19px;
    border-color: #12284c;
    max-height: 50px
}
.loca select:focus{
    box-shadow: rgba(121, 133, 154, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 1px;
}
.loca select option{
    background-color: #fff;
    color: #000;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.loca label{
    margin: 0.52em 0;
    position: absolute;
    text-align: left;
    left: 20px;
    bottom: 28px;
    transition: all 0.2s ease-out;
    user-select: none;
    pointer-events: none;
    color: #12284c;
    font-size: 10px;
    line-height: 19px;
    text-transform: uppercase;
    opacity: 1;
    z-index: 1;
}
.input1{
    width: 50%;
    padding: 6px;
    position: relative;
    float: left;
    /* border: 1px solid; */
}
.input2{
    width: 50%;
    padding: 6px;
    position: relative;
    float: left;
}
.input3{
    width: 100%;
    padding: 6px;
    position: relative;
    float: left;
}
.input4{
    width: 100%;
    padding: 6px;
    position: relative;
    float: left;
}
.input4 input[type="text"],
textarea{
    padding: 13px 11px;
    font-family: 'Montserrat Regular',sans-serif !important;
    text-shadow: none;
    font-weight: 100;
} 
.input5{
    width: 33.33%;
    padding: 6px;
    position: relative;
    float: left;
}
.input6{
    width: 33.33%;
    padding: 6px;
    position: relative;
    float: left;
}
.input7{
    width: 33.33%;
    padding: 6px;
    position: relative;
    float: left;
}
.input8{
    width: 100%;
    padding: 6px;
    float: left;
    position: relative;
}
.input8 div{
    width: 4%;
    padding-right: 0.75em;
}
.input8 label{
    width: 80%;
    vertical-align: middle;
    top: 0;
    left: 35px;
    bottom: 0;
    position: absolute;
    font-size: 14px;
    font-weight: 100;
    color: #12284C;
    cursor: pointer;
}

.declare{
    float: left;
    padding: 14px 0 0;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-size: 12px;
    color: #666;
}
.declare a{
    color: #666;
    text-decoration: underline;
    background-color: transparent;
}

.next{
    width: 100%;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    float: left;
}
.next button{
    text-align: center;
    font-family: 'Montserrat Semi Bold',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 13px 18px;
    float: right;
    position: relative;
    cursor: pointer;
    border: 1px transparent solid;
    color: white;
    background-color: #12284c;
}
.next a{
    margin-right: 1em;
    float: left;
}
.next a span{
    color: #12284c;
    font-family: 'Montserrat Light',sans-serif;
    font-size: 12px;
    line-height: 1;
    text-decoration: underline;
    text-transform: uppercase;
    vertical-align: middle;
}


#M-footer{
    padding: 1em 0;
    border-top: 1px solid #e6e6e6;
}
#M-footer>p{
    color: #12284c;
    font-family: 'Montserrat Light',sans-serif;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: .5px;
}


#M-sidebar{
    max-width: calc(410px + 4%);
    width: 100%;
    padding-top: 4em;
    padding-left: 4%;
    left: 0;
    background-position: left top;
    float: right;
    position: relative;
    color: #525252;
    box-shadow: 1px 0 0 rgb(248, 248, 248) inset;
    /* border: 1px solid; */
}
#M-sub{
    width: 100%;
    height: calc(100vh - 8em);
    display: flex;
    flex-direction: column;
}

.details{
    overflow: hidden;
    min-width: 100%;
}

.offer{
    width: 100%;
    padding: 0 0 21px;
    display: flex;
    zoom: 1;
    float: left;
}
.offer input[type="text"],
textarea{
    max-width: 230px;
    position: relative;
    line-height: 19px;
    padding: 10px;
    background-color: #f8f8f8 !important;
}
.offer button{
    width: auto;
    margin-left: 0;
    padding-left: 34px;
    padding-right: 34px;
    flex: auto;
    font-family: 'Montserrat Semi Bold',sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: not-allowed;
    position: relative;
    color: white;
    background-color: #12284c;
}

.cal{
    padding: 21px 0;
    border-top: 1px solid rgba(174,174,174,0.34);
}
