
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');




body{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    /* background-image: "https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wwuf?ver=10fd"; */
    /* background: linear-gradient(45deg, #78b77e, #77b7a0 40%, #8cab9c 59%, #c2dae4 85%, #b76c51); */
}


#container {
    /* border: 1px solid; */
   /* color: red; */
    width: 100%;
    /* height: 300px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    display: none;
    /* background-color: rgb(154, 161, 161); */

    
}

#vikash{
    /* border: 2px solid blue; */
    width: 30%;
    height: 40px;
   /* background-color: rgb(128, 205, 231); */
    /* color: rgb(19, 19, 18); */
   
}

#fakebtn{
    width: 70%;
    height: 30px;
    border: none;
    background-color: #efefef;
    font-size: 17px;
}
#vikashlal{
    height: 35px;
    background: rgba(0, 242, 199,213);
    color: white;
    margin-left: 500px;
}
#btn{
   cursor: pointer;
    height: 40px;
    width: 4%;
    /* background-color: rgb(27, 139, 187); */
    /* color: white; */
}
.mapouter{
    /* border: 1px solid; */
    position:relative;
    text-align:right;
    height:500px;
    width:100%;
    display: flex;
   
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
   
   
}
iframe{
    width: 300PX;
    height: 250px;
}
p{
    color: #11184c;
   font-size: 12px;
    /* font-size: large; */
}
#navbar{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#week{
    background-color: red;
    color: blue;
    /* margin-left: 400px; */
    
}

#head2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
h4{
    font-size: x-large;
    color: #12284c;
}
#head3{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid #999;
    width: 90%;
    margin: auto;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
#main-1{
    margin: auto;
    display: flex;
    /* border: 1px solid; */
    width: 90%;
    height: 320px;
    gap: 20px;
    border-bottom: 1px solid #999;
}

#temp{
    /* border: 1px solid; */
    width: 60%;
    height: 100%;
    display: flex;
    gap: 15px;
    }
    
#temp-1{
    margin-top: 20px;
    /* border: 1px solid; */
    /* width: 50%; */
    /* justify-content: center; */
    align-items: flex-start;
    padding-top: 0%;
}
#temp-2{
    /* border: 1px solid; */
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0%;
    margin-top: 2%;
}


#temp-12{
    /* border: 1px solid; */
    width: 40%;
    height: 85%;
    margin-top: 9%;
    justify-content: center;
    /* align-items: flex-start; */
}

#btn22{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.btn11{
    background-color: #12284c;
    color: aliceblue;
    border: none;
    height: 25px;
    width: 190px;
}


#gmap_canvas55{
    width: 100%;
}
@media only screen and (max-width: 768px) {

    
#main-1{
    /* border: 1px solid; */
    height: auto;
    /* margin: auto; */
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(1 1fr);
    /* gap: 20px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 1px solid; */
    /* width: 90%;
    height: 320px;
    gap: 20px;
    border-bottom: 1px solid #999; */
}
#temp{
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    }
    

#btn22{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    /* align-items: flex-start; */
}

.btn11{
    background-color: #12284c;
    color: aliceblue;
    border: none;
    height: 25px;
    width: 390px;
}
    

}