*{
    padding: 0;
    margin: 0;
    outline: none;
    /* text-decoration: none; */
    font-family: "Montserrat Regular", sans-serif;
    font-style: normal;
    /* line-height: 1.65; */
    /* overflow-x: hidden; */
}

#M-section-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

#M-container-2{
    background-color: white;
    width:80%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

.M-form-2{
    width: 60%;
    margin: auto;
    text-align: center;
}

.M-header-2{
    width: 98%;
    margin: 0px 0px 24px;
}
.M-header-2>h1{
    margin: 0px 0px 15px;
    font-size: 34px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: rgb(18,40,76);
}
.M-header-2>p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.1px;
    font-weight: 400;
    color: rgb(142,152,169);
}

.M-form-2>input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 14px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none solid rgb(18,40,76);
    color: rgb(142,152,169);
    resize: vertical;
}

.M-first{
    text-align: right;
    font-weight: inherit;
    font-size: 10px;
}

.M-box{
    position: relative;
    background-color: #d1e8ee;
    padding: 10px;
    margin: 20px 0;
}
.M-box>label{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.M-box>label>input{
    width: 15px;
    height: 20px;
    color: #d1e8ee;
}
.M-box>label>div{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}
.M-item1{
    width: 35%;
    padding: 3px;
    text-align: start;
}
.M-item1>span>img{
    width: 85%;
    text-align: center;
}
.M-item2{
    width: 65%;
    text-align: justify;
}
.M-item2>span{
    font-size: 14px;
    font-weight: 200;
    line-height: 23.1px;
    color: rgb(142,152,190);
}

.M-second{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: rgb(142,152,169);
}
.M-second>a{
    color: rgb(142,152,169);
    text-decoration: underline;
}

.M-btn{
    width: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(18,40,76);
    font-size: 14px;
    font-weight: 530;
    margin-top: 20px;
    padding: 10px 28px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

.M-footer-2{
    width: 100%;
    margin-top: 24px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.M-footer-2>span{
    color: rgb(142,152,169);
}
.M-footer-2>a{
    text-decoration: underline solid rgb(18,40,76);
    color: rgb(18,40,76);
}
